[submodule "roms/seabios"]
	path = roms/seabios
	url = https://gitee.com/loongsonlab/seabios
[submodule "roms/SLOF"]
	path = roms/SLOF
	url = https://gitee.com/loongsonlab/SLOF.git
[submodule "roms/ipxe"]
	path = roms/ipxe
	url = https://gitee.com/loongsonlab/ipxe.git
[submodule "roms/openbios"]
	path = roms/openbios
	url = https://gitee.com/loongsonlab/openbios.git
[submodule "roms/openhackware"]
	path = roms/openhackware
	url = https://gitee.com/loongsonlab/openhackware.git
[submodule "roms/qemu-palcode"]
	path = roms/qemu-palcode
	url = https://gitee.com/loongsonlab/qemu-palcode.git
[submodule "roms/sgabios"]
	path = roms/sgabios
	url = https://gitee.com/loongsonlab/sgabios.git
[submodule "dtc"]
	path = dtc
	url = https://gitee.com/loongsonlab/dtc
[submodule "roms/u-boot"]
	path = roms/u-boot
	url = https://gitee.com/loongsonlab/u-boot.git
[submodule "roms/skiboot"]
	path = roms/skiboot
	url = https://gitee.com/loongsonlab/skiboot.git
[submodule "roms/QemuMacDrivers"]
	path = roms/QemuMacDrivers
	url = https://gitee.com/loongsonlab/QemuMacDrivers.git
[submodule "ui/keycodemapdb"]
	path = ui/keycodemapdb
	url = https://gitee.com/loongsonlab/keycodemapdb.git
[submodule "capstone"]
	path = capstone
	url = https://gitee.com/mirrors/capstone
[submodule "roms/seabios-hppa"]
	path = roms/seabios-hppa
	url = git://github.com/hdeller/seabios-hppa.git
[submodule "roms/u-boot-sam460ex"]
	path = roms/u-boot-sam460ex
	url = https://gitee.com/loongsonlab/u-boot-sam460ex.git
